*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#121212;
}

.forgot-container{

    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#121212;

}

.forgot-card{

    width:380px;
    background:white;
    padding:35px;
    border-radius:12px;
    box-shadow:0 0 20px rgba(0,0,0,0.3);

}

.forgot-card h2{

    text-align:center;
    margin-bottom:15px;

}

.subtitle{

    text-align:center;
    color:#666;
    margin-bottom:20px;
    font-size:14px;

}

.forgot-card input{

    width:100%;
    padding:12px;
    margin-bottom:18px;
    border:1px solid #ccc;
    border-radius:6px;
    font-size:15px;

}

.forgot-card button{

    width:100%;
    padding:12px;
    background:#28a745;
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-size:16px;

}

.forgot-card button:hover{

    background:#218838;

}

.back-login{

    text-align:center;
    margin-top:20px;

}

.back-login a{

    color:#007bff;
    text-decoration:none;

}

.back-login a:hover{

    text-decoration:underline;

}